html {
    height: 100% 
}

body {
    background-image: url("https://img00.deviantart.net/c24e/i/2012/331/5/b/minimal_grey_by_gominhos-d5mdf9z.png");
    background-position: center center;
    background-size: cover;
}

header {
    background-color: #383838
}

h1 {
    color: white;
}

p {
    color: white;
}

body {
    margin: 0; /*gets rid of white space*/
}

ul {
    list-style-type: none; /*removes white space*/
    background: White;
    width: 150px;
    padding: 0; /*removes padding on the left*/
    margin: 0;
}

li a {
    display: block;
    text-decoration:none;
    color: Black;
    font-family: arial;
    padding: 15px;
    text-align: center;
}

li a:hover {
    background: black;
    color: white;
}
